<div class="dashboard-container">
  <!-- Seção de Médias -->
  <div class="section">
    <h2 class="section-title">📊 Médias das leituras</h2>
    <div class="cards-row">
      <div class="card leitura temperatura">
        <i class="bi bi-thermometer-half icon"></i>
        <h3>{{ temperaturaMedia }} ºC</h3>
        <p>Temperatura</p>
      </div>
      <div class="card leitura pressao">
        <i class="bi bi-speedometer2 icon"></i>
        <h3>{{ pressaoMedia }} hPa</h3>
        <p>Pressão</p>
      </div>
      <div class="card leitura umidade">
        <i class="bi bi-droplet icon"></i>
        <h3>{{ umidadeMedia }}%</h3>
        <p>Umidade</p>
      </div>
    </div>
  </div>

  <!-- Seção de Última Leitura -->
  <div class="section" *ngIf="readings.length">
    <h2 class="section-title">🕒 Última leitura</h2>
    <div class="cards-row">
      <div class="card leitura temperatura">
        <i class="bi bi-thermometer-half icon"></i>
        <h3>{{ readings[readings.length - 1].temperature }} ºC</h3>
        <p>Temperatura</p>
      </div>
      <div class="card leitura pressao">
        <i class="bi bi-speedometer2 icon"></i>
        <h3>{{ readings[readings.length - 1].pressure }} hPa</h3>
        <p>Pressão</p>
      </div>
      <div class="card leitura umidade">
        <i class="bi bi-droplet icon"></i>
        <h3>{{ readings[readings.length - 1].humidity }}%</h3>
        <p>Umidade</p>
      </div>
    </div>
  </div>
</div>
