<!-- Navegação -->
<ul ngbNav #nav="ngbNav" class="nav-tabs custom-nav" [(activeId)]="active">
  <li [ngbNavItem]="1">
    <button ngbNavLink><i class="bi bi-speedometer2"></i> Dashboard</button>
    <ng-template ngbNavContent>
      <app-dashboard></app-dashboard>
    </ng-template>
  </li>
  <li [ngbNavItem]="2">
    <button ngbNavLink><i class="bi bi-table"></i> Tabela</button>
    <ng-template ngbNavContent>
      <app-table></app-table>
    </ng-template>
  </li>
  <li [ngbNavItem]="3">
    <button ngbNavLink><i class="bi bi-bar-chart-line"></i> Gráficos</button>
    <ng-template ngbNavContent>
      <app-graphs></app-graphs>
    </ng-template>
  </li>
</ul>

<!-- Conteúdo -->
<div [ngbNavOutlet]="nav" class="nav-content mt-4"></div>
